{% extends 'homepage/base.html' %}
{% load static %}
{% load form_filters %}
{% block title %}User Info{% endblock %}

{% block content %}



    <div class="row mt-5">
        <!-- Left side: Form -->
        <div class="col-md-6">
            <h2>User Information Form</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!-- Right side: Records -->
        <div class="col-md-6">
            <h2>Records of People</h2>
            <a href="?show=1" class="btn btn-info mb-3">Show Records</a>

            {% if users %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.age }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</body>
</html>
{% endblock %}